{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}Dashboard{% endblock %}

{% block content %}
    <div class="container mt-5">
        <!-- Raspberry Pi Stats -->
        <div class="card mb-4">
            <div class="card-header">System Stats</div>
            <div class="card-body">
                <p><strong>IP:</strong> {{ sys.local_ip }}</p>
                <p><strong>CPU:</strong> {{ sys.cpu }}%</p>
                <p><strong>RAM:</strong> {{ sys.ram_used_percent }}% of {{sys.ram_total}} GB ({{sys.ram_used}}GB)</p>
                <p><strong>Temperature:</strong> {{ sys.temperature }}</p>
            </div>
        </div>

        <!-- Docker containers status -->
        <div class="card mb-4">
            <div class="card-header">Docker Containers Status</div>
            <div class="card-body">
                <ul class="list-group">
                    {% for container in containers %}
                    <li class="list-group-item">
                        <!-- flex container -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <strong>
                                    <a style="color: inherit;" href="http://raspberrypi.local:{{container.port}}">{{ container.name }}</a>
                                </strong> 
                                - {{ container.status }}
                            </div>

                            <span>Port: {{ container.port }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <!-- Pulsante sinistro -->
            <form method="GET" action="{{ url_for('dashboard') }}">
                <button type="submit" class="btn btn-dark btn-sm">Rescan</button>
            </form>
        
            <!-- Pulsanti destri -->
            <div>
                <form method="POST" action="{{ url_for('dashboard') }}" class="d-inline">
                    <button type="submit" name="action" value="shutdown" class="btn btn-danger btn-sm ml-1">Shutdown</button>
                </form>
                <form method="POST" action="{{ url_for('dashboard') }}" class="d-inline">
                    <button type="submit" name="action" value="reboot" class="btn btn-warning btn-sm ml-1">Reboot</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
